html,
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #222;

    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
} 

#loadingScreen {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: #222;
    z-index: 9999;
    position: relative;
    
}

.disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.vertical-center {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }