@font-face {
    font-family: "gamefont";
    src: url(./fonts/font.ttf);
}

html,
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html{
    cursor: url("./images/cursor/hand.png"), auto;
    font-family: "gamefont", serif;
    font-size: 16px;
    background-color: #222;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    
} 

#loadingScreen {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background-color: #222;
    z-index: 9999;
    position: relative;
    
}

.disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.vertical-center {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }